*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
}

/* Containe */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Wrapper */

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 15px 30px rgb(70, 70, 70);
}

/* Header */

.header-logo {
    width: 100px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #76cdd8 1px solid;
    padding: 20px 10px;
}

.header-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.nav-link {
    color: #231f20;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
}

.nav-link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #231f20;
    transition: width .5s;
}

.nav-link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: rgb(118, 205, 216);
    transition: width .5s;
}
