*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
}

/* Containe */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Wrapper */

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 15px 30px rgb(70, 70, 70);
}

/* Header */

.header-logo {
    width: 100px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #76cdd8 1px solid;
    padding: 20px 10px;
}

.header-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.nav-link {
    color: #231f20;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
}

.nav-link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #231f20;
    transition: width .5s;
}

.nav-link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: rgb(118, 205, 216);
    transition: width .5s;
}

/* Intro */

.intro-inner {

    padding: 30px 10px;
    display: flex;
    align-items: center;
}

.intro-photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border: rgb(118, 205, 216) 3px solid;
}

.intro-title {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(118, 205, 216);
}

.intro-subtitle {
    display: flex;
    align-items: center;
}

.subtitle-text {
    font-size: 35px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
    padding-right: 5px;    
}

.subtitle-logo {
    width: 24px;
    height: 24px;
}

/* Content */

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    margin-bottom: 50px;
}

.content-wrapper div {
    margin: 10px;

}

.content-box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content-title {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(118, 205, 216);
    border-bottom: rgb(118, 205, 216) 1px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.content-text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
    line-height: 1.5;
    width: 85%;
}

.content-text span {
    color: rgb(118, 205, 216);
}

.content-box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.skill-item {
    display: flex;
    align-items: center;
}

.skill-logo {
    width: 32px;
}

.skill-name {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
    padding-left: 5px;
}

.content-box3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.content-box4 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.list-l1 {
    margin-left: 25px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
}

.list-l2 {
    margin-left: 15px;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
}

.list-l3 {
    line-height: 1.3;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
}

li {
    color: rgb(118, 205, 216);
    padding-bottom: 5px;
}

li span {
    color: #231f20;
}

.content-box5 {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* Code */

.code {
    margin-left: 10px;
    padding: 20px 0 0 20px;
    background-color: lightgray;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: rgb(41, 45, 245);
}

.purple {
    color:purple;
}

.blue {
    color:rgb(245, 61, 61);
}

.black {
    color: #000;
}

/* Footer */

.footer {
    background-color: #231f20;
    border-radius: 0 0 30px 30px;
}

.content-title.foot {
    color: #fff;
    border-bottom: #fff 1px solid;
}

.footer-inner {
    padding: 20px 10px;
}

.contacts-content {
    display: flex;
    flex-wrap: wrap;
}

.contacts-item {
    width: 33.33333%;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.contact-name {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

/* Coperite */

.footer-copir {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}