*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
}

/* Containe */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Wrapper */

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 15px 30px rgb(70, 70, 70);
}

/* Header */

.header-logo {
    width: 100px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #76cdd8 1px solid;
    padding: 20px 10px;
}

.header-nav {
    width: 50%;
}

.header-links {
    display: flex;
    justify-content: space-between;
}

.header-link {
    list-style: none;
}

.nav-link {
    color: #231f20;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
}

.nav-link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #231f20;
    transition: width .5s;
}

.nav-link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: rgb(118, 205, 216);
    transition: width .5s;
}

/* Intro */

.intro-inner {

    padding: 30px 10px;
    display: flex;
    align-items: center;
}

.intro-photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 25px;
    border: rgb(118, 205, 216) 3px solid;
}

.intro-title {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(118, 205, 216);
}

.intro-subtitle {
    display: flex;
    align-items: center;
}

.subtitle-text {
    font-size: 35px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
    padding-right: 5px;    
}

.subtitle-logo {
    font-size: 28px;
    color: #000;
}

/* Content */

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    margin-bottom: 50px;
}

.content-wrapper div {
    margin: 10px;

}

.content-box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content-title {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(118, 205, 216);
    border-bottom: rgb(118, 205, 216) 1px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.content-text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
    line-height: 1.5;
    width: 85%;
}

.content-text span {
    color: rgb(118, 205, 216);
}

.content-box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.skill-item {
    display: flex;
    align-items: center;
}

.skill-item i {
    font-size: 38px;
    color: #76cdd8;
}

.skill-logo {
    width: 32px;
}

.skill-name {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
    padding-left: 5px;
}

.content-box3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.content-box4 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.list-l1 {
    margin-left: 25px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
}

.content-box3 .list-l1 > li:nth-child(2){
    list-style: none;
}
.content-box3 .list-l1 > li:nth-child(4){
    list-style: none;
}

.list-l2 {
    margin-left: 15px;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #231f20;
}


li {
    color: rgb(118, 205, 216);
    padding-bottom: 5px;
}

li span {
    color: #231f20;
}

.content-box5 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.content-box6 {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Code */

.code {
    margin-left: 10px;
    padding: 20px 0 0 20px;
    background-color: lightgray;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: rgb(41, 45, 245);
}

.purple {
    color:purple;
}

.blue {
    color:rgb(245, 61, 61);
}

.black {
    color: #000;
}

/* Projects */

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-item {
    width: 30.33333%;
    margin: 0 10px 15px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
    border-radius: 7px;
}

.projects-item__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-item__photo{
    height: 200px;
} 

.projects-item__photo img{
    width: 100%;
    height: 100%;
} 

.projects-item__icons i {
    font-size: 18px;
}

.html {
    color: coral;
}

.css {
    color: darkcyan;
}

.js {
    color: yellow;
}

.react {
    color: rgb(0, 17, 255);
    background-color: #fff;
}
/* Footer */

.footer {
    background-color: #231f20;
    border-radius: 0 0 30px 30px;
}

.content-title.foot {
    color: #fff;
    border-bottom: #fff 1px solid;
}

.footer-inner {
    padding: 20px 10px;
}

.contacts-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.contacts-item {
    width: 33.33333%;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.contact-logo {
    font-size: 24px;
    color: #fff;
}

.contact-name {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    text-decoration: none;
}

/* Coperite */
.footer-copir__text {
    text-align: right;
    width: 50%;
}

.footer-copir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


@media(max-width: 1200px) {

    .nav-link {
        font-size: 16px;
    }

}

@media(max-width: 990px) {

    .header-nav {
        width: 60%;
    }

    .nav-link {
        font-size: 14px;

    }

    .content-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: repeat(3, 1fr);
        margin-bottom: 50px;
    }

    .content-box1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .content-box2,
    .content-box5 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .content-box2 ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .skill-item {
        display: flex;
        align-items: center;
        width: 33.33333%;
    }

    .content-box3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .contacts-item {
        width: 50%;
    }

}

@media(max-width: 768px) {

    .projects-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }

    .projects-item {
        width: 50%;
        margin-bottom: 25px;
    }

    .projects-item__photo {
        overflow: hidden;
        height: 200px;
    }

    .code {
        overflow: scroll;
    }

}

@media(max-width: 620px) {

    .contacts-item {
        width: 100%;
    }

    .content-box3,
    .content-box4 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .header-nav {
        display: none;
    }

    .intro-inner {
        flex-direction: column;
        align-items: center;
    }

    .intro-photo {
        margin: 0;
    }

    .intro-contant {
        text-align: center;
    }

    .intro-subtitle {
        justify-content: center;
    }

    .intro-title {
        text-align: center;
    }

    .skill-item {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .projects-item {
        width: 80%;
        margin-bottom: 25px;
    }
}

@media(max-width: 620px) {

    .intro-photo {
        margin: 0;
    }

    .skill-item {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .projects-item {
        width: 100%;
        margin-bottom: 25px;
    }
}